
/*--------------------------------------------------Overall */

.container-page {
    background-color: rgb(207, 250, 207);
    width: 100%;
    height: 100%;
    position: relative;
}

.navstyle {
    background-color: rgb(146, 236, 151);
    height: 60px;
}

.textstyle {
    margin-top: 50px;
    padding-bottom: 40px;
}

.behind {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

/*----------------------------------------------------Footer */
.footerstyle {
    background-color: rgb(146, 236, 151);
    position: relative;
    margin-top: 50px;
}

.inline-block {
    display: inline-block;
    margin: 5px;
}

/*----------------------------------------------------Gallery */
.imageholder {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
    height: 300px;
}

.imageholder:hover {
    border: 1px solid #777777;
}

.imageholder img {
    width: 100%;
    height: 100%;
}

.desc {
    padding: 15px;
    text-align: center;
}

/*-----------------------------------------------------Form */

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 80%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: whitesmoke;
    background-color: rgb(33, 146, 38);
}

/*-----------------------------------------------------Media query */

@media(min-width: 992px) {
    .center-form {
        padding-top: 10px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 60%;
    }

    .footerstyle {
        background-color: rgb(146, 236, 151);
        position: fixed;
        bottom: 0;
    }
}